*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main_container{
  max-width: 1280px;
  display: block;
  margin: auto;
 text-align: center;
  background-color: yellow;
}

/* Container for the list of books */

.bookGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  /* background-color: #ec3030; */
  
}

/* Styling for each book card */
.bookCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* Hover effect for the book card */
.bookCard:hover {
  transform: scale(1.05);
}

/* Styling for the book image */
.bookImage {
  width: 80%;
  height: 150px;
  object-fit: cover;
}

/* Styling for the book info section */
.bookInfo {
  padding: 15px;
}

/* Styling for the book title */
.bookTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

/* Styling for the book subtitle */
.bookSubtitle {
  font-size: 1rem;
  color: #777;
  margin: 5px 0;
}

/* Styling for the authors */
.bookAuthors {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.pagination-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;

}

.pagination-btns button{
  padding: 15px;
  color: black;
  background-color: whitesmoke;
  font-size: 18px;
  border-radius: 5px;
  border: none;


}